<div id="banner" class="banner-default">
	<h1>Vision</h1>
</div>

<div class="banner-header">
	<div id="vision" class="row">
		<div class="col-sm-12">
			<h3 class="about-heading">Vision</h3>
			<div>
				IB Ltd is committed to provide simplified solutions by engaging in sustainable practices and anticipating the needs of its customers.
			</div>
		</div>
	</div>
	<div id="about_us" class="row">
		<div class="col-sm-12">
			<h3 class="about-heading">About Us</h3>
			<div>
				<p>
					At IB Ltd we pride ourselves of providing best suited advice of personal risk and general insurance needs of our clients.
				</p>
				<p>
					Our Advisers have wealth of knowledge and experience to deliver what we promise. 
				</p>
				<p>
					We are based in Greater Hamilton and Auckland but cater clients all over New Zealand.
				</p>
				<ol>
					<li>We are driven by insurance solution than commission and always keeping the cost in mind.</li>
					<li>We have partnered with most of the major personal risk insurance companies to deliver the best in the market.</li>
					<li>We are part of Insurance advisernet to provide the general insurance solutions. Insurance Advisernet was established in 2006 as a joint venture between Insurance Advisernet Australia (IAA) and New Zealand investors. In April 2010 IAA took a majority shareholding in New Zealand, providing us with memebership of Austbrokers (a public listed company in Australia). The Austbrokers Group, including Insurance Advisernet, has over $2bn of client premiums under management.</li>
				</ol>
			</div>
		</div>
	</div>
	<div id="learning-insurance" class="row">
		<div class="col-sm-12">
			<h3 class="about-heading">Learning Information, Market Study/Analysis(Creating Understanding Of Insurance)</h3>
			<div>
				<h4>Why Insurance</h4>
				<p>
					You've worked hard to build a solid financial footing for you and your family, so you want to be sure that everything is protected. Accidents and unexpected events can and do happen, and if you aren’t adequately insured, it could leave you in financial ruin. You need insurance to protect your life, your ability to earn income, and to keep a roof over your head.
				</p>
			</div>
		</div>
	</div>
</div>