<div id="banner" class="banner-default">
	<h1>Acc Cover</h1>
</div>

<div class="banner-header">
	<div class="row">
		<div class="col-sm-12">
			<p>If you are Self Employed or non-PAYE shareholder and paying to much ACC Bill. We can help you to Tailor your ACC bill which will not only match your needs but you will have better control over your ACC bill.</p>
			
			<p>Advantge of ACC Cover + Extra :</p>
			<ul>
				<li><b>ACC CoverPlusExtra is available to all self-employed and non-PAYE shareholder-employees</b></li>
				<li><b>You negotiate your level of lost	earnings cover.</b></li>
				<li><b> You receive 100% of this lost earnings cover if you can’t work because of aninjury, starting one week after your injury.</b></li>
				<li><b>You don’t have to prove loss of earnings when you make a claim.</b></li>
				<li><b>You have access to medical	and work-related help as part of your ACC CoverPlus Extra policy.</b></li>
			</ul>
		</div>
	</div>
</div>