<div class="row">
	<div class="col-sm-12">
		<h3 class="about-heading">Business Insurance</h3>
		<div>
			<p>
				To protect your business and run smoothly in face of adversity adequate cover is critical. Having business insurance can protect your assets. stock, vehicles and even your profit! 
			</p>
			<p>
				We provide solutions for a full range of Fire & General Insurance including:
			</p>
			<ul>
				<li><b>Business Insurance</b></li>
				<li><b>House and Content</b></li>
				<li><b>Rural Insurance</b></li>
				<li><b>Commercial Property</b></li>
				<li><b>Commercial Vehicle</b></li>
			</ul>
		</div>
	</div>

	<div class="col-sm-12">
		<h3 class="about-heading">Business Insurance</h3>
		<div>
			<p>
				Business Interruption Cover is very important – this sometimes can be the sole reason that many businesses don’t survive a major loss. For example, when a disaster strikes, a business may have to let key staff go because they can’t pay them. Then, when the business is ready to re-open, these skilled people have found other jobs. If machinery is covered for breakdown, but not Business Interruption, there is no cover for lost turnover while a machine is being repaired or replaced.
			</p>
			<p>
				Be certain that your cover allows enough time after an incident to clear up, complete the design process, consent process, to find tradesmen, order and receive any specialized plant or equipment, to test and commission it, to rebuild assets, to regain lost customers and lost orders and to return to the profitability enjoyed before the event
			</p>
			
			<div style="margin-top:20px">	
				<h4 class="about-heading">Liability Cover </h4>
				<div>
					<p> Liability cover gives protection to third party caused by your business. For e.g.</p>
					<p> Causing damage to another person’s property </p>
					<p> Breaching a legal statute such as the Resource Management Act</p>
					<p> Dealing with a personal grievance from an employee </p>
					<p> Causing damage or injury through a failure of a product or service you are selling</p>
				</div>
			</div>
			
			<div style="margin-top:20px">	
				<h4 class="about-heading">Material Damage /Business Asset</h4>
				<div>
					<p>
						Most common and important business cover. It mainly covers the stock and Plant of the business.
					</p>
				</div>
			</div>
		</div>
	</div>


	<div class="col-sm-12">
		<h3 class="about-heading">Rural Insurance </h3>
		<div>
			<p>
				We understand that every farm is different and there is no one-size-fits-all solution when it comes to rural insurance. In New Zealand we manage a wide range of rural insurance clients Horticulture / Dairy / Beef/ Agriculture.
			</p>
			<p>
				Our experience and access to an even wider range of Insurers means that we can find the most appropriate cover to protect against the kind of risks unique to farming.
			</p>
			<p>
				We can provide you with cover for storm damage, machinery catching fire or suffering damage, theft of vehicles or equipment and more. Adequate cover for your farm may involve insuring against the risk of an injury to you or another person from an animal on your property
			</p>
			<dv style="margin-top:15px">
				<p>Accidental Damage covering</p>
				<p>Buildings</p>
				<p>Contents</p>
				<p>Fences</p>
				<p>Hay,silage and grain</p>
				<p>Immobile machinery </p>
				<p>Unspecified mobile machinery</p>
			</div>
			<p>
				We can also ensure your farm insurance cover enables your farm to stay in business while it is recovering from an insured event.
			</p>
		</div>
	</div>


	<div class="col-sm-12">
		<h3 class="about-heading">Home and Content </h3>
		<div>
			<p>
				Contents insurance is insurance that pays for damage to, or loss of, a person’s personal possessions whilst they are located within that person’s home. Some contents insurance policies also provide restricted cover for personal possessions temporarily taken away from the home by the policyholder.
			</p>
			<p>
				House insurance to cover in case of disasters happen.
			</p>
		</div>
	</div>


	<div class="col-sm-12">
		<h3 class="about-heading">Commercial Property </h3>
		<div>
			<p>
				Insurance that is used to cover any type of commercial property. Commercial property insurance protects commercial property from such events such as fire, theft and natural disaster. This type of insurance should be undertaken by any business, including manufacturers, retailers, service-oriented businesses and not-for-profit organizations.
			</p>
		</div>
	</div>
	
	
	<div class="col-sm-12">
		<h3 class="about-heading">Commercial Vehicle</h3>
		<div>
			<p>
				Whether your business relies on cars, trucks, utes or even forklifts, insuring your commercial vehicles helps to protect an important asset for your 
			</p>
		</div>
	</div>

</div>