<div class="row imageshow">
	<div class="col-sm-4 imageshow-background advice-background">
		<div class="blur-background">
			
		</div>
		<div class="imageshow-content">
			<h2>Advice</h2>
			<hr>
			<span>
				We can help you plan for tomorrow.
				<br>
				So you can live for today.
			</span>
		</div>
	</div>
	<div class="col-sm-4 imageshow-background retirement-background">
		<div class="blur-background">
			
		</div>
		<div class="imageshow-content">
			<h2>Retirement</h2>
			<hr>
			<span>
				The secret to reaching your financial goals?
				<br>
				Small, manageable steps.
			</span>
		</div>
	</div>
	<div class="col-sm-4 imageshow-background life-background">
		<div class="blur-background">
			
		</div>
		<div class="imageshow-content">
			<h2>Life Insurance</h2>
			<hr>
			<span>
				It's more than peace of mind.
				<br>
				It's possibilities.
			</span>
		</div>
	</div>
</div>
<div class="row question">
	<h3>Not sure where to start? Our Step Ahead Guide can get you thinking. And doing. <a href="#">Step Ahead</a> </h3>
</div>
<div class="row arrow-down">
	<div class="bxslider">
		<%= render({partial: "slider", locals: {categories: @slider_categories} }) %>
	</div>
</div>

<div class="row">
	<div class="fixed-footer col-sm-12" style="position:fixed;">
		<div class="pull-right">
			<a href="#">Contact us at 1800-IBL-INFO</a>
		</div>
	</div>
</div>

<div class="services row">
	<div class="col-sm-12">
		<div class="row plans">
			<div class="col-sm-3">
				<h3>
					<a href="#" class="blue-link services-title">Explore your goals</a>
				</h3>
				<a href="#" class="blue-link">Find your goal</a>
				<br>
				<a href="#" class="blue-link">Life events</a>
			</div>
			<div class="col-sm-3">
				<h3>
					<a href="#" class="blue-link services-title">Explore your goals</a>
				</h3>
				<a href="#" class="blue-link">Find your goal</a>
				<br>
				<a href="#" class="blue-link">Life events</a>
			</div>
			<div class="col-sm-3">
				<h3>
					<a href="#" class="blue-link services-title">Explore your goals</a>
				</h3>
				<a href="#" class="blue-link">Find your goal</a>
				<br>
				<a href="#" class="blue-link">Life events</a>
			</div>
			<div class="col-sm-3">
				<h3>
					<a href="#" class="blue-link services-title">Explore your goals</a>
				</h3>
				<a href="#" class="blue-link">Find your goal</a>
				<br>
				<a href="#" class="blue-link">Life events</a>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="services-line-break"></div>
			</div>
		</div>
		<div class="row about-us">
			<div class="col-sm-3">
				<h3>
					<a href="#" class="blue-link services-title">About Ibrokers</a>
				</h3>
				<a href="#" class="blue-link">Newsroom</a>
				<br>
				<a href="#" class="blue-link">Careers</a>
			</div>
			<div class="col-sm-3">
				<h3>
					<a href="#" class="blue-link services-title">About Ibrokers</a>
				</h3>
				<a href="#" class="blue-link">Newsroom</a>
				<br>
				<a href="#" class="blue-link">Careers</a>
			</div>
			<div class="col-sm-3">
				<h3>
					<a href="#" class="blue-link services-title">About Ibrokers</a>
				</h3>
				<a href="#" class="blue-link">Newsroom</a>
				<br>
				<a href="#" class="blue-link">Careers</a>
			</div>
			<div class="col-sm-3">
				<h3>
					<a href="#" class="blue-link services-title">About Ibrokers</a>
				</h3>
				<a href="#" class="blue-link">Newsroom</a>
				<br>
				<a href="#" class="blue-link">Careers</a>
			</div>
		</div>
	</div>
</div>