<div class="row imageshow">
	<div class="col-sm-4 imageshow-background advice-background">
		<div class="blur-background">
			
		</div>
		<div class="imageshow-content">
			<h2>Business Insurance</h2>
			<hr>
			<span>
				We can help you plan for tomorrow.
				<br>
				So you can live for today.
			</span>
			<div>
				<a href="#" class="btn btn-primary learn-more">Learn More</a>
			</div>
		</div>
	</div>
	<div class="col-sm-4 imageshow-background retirement-background">
		<div class="blur-background">
			
		</div>
		<div class="imageshow-content">
			<h2>Life and Health</h2>
			<hr>
			<span>
				The secret to reaching your financial goals?
				<br>
				Small, manageable steps.
			</span>
			<div>
				<a href="#" class="btn btn-primary learn-more">Learn More</a>
			</div>
		</div>
	</div>
	<div class="col-sm-4 imageshow-background life-background">
		<div class="blur-background">
			
		</div>
		<div class="imageshow-content">
			<h2>Buy Online</h2>
			<hr>
			<span>
				It's more than peace of mind.
				<br>
				It's possibilities.
			</span>
			<div>
				<a href="#" class="btn btn-primary learn-more">Learn More</a>
			</div>
		</div>
	</div>
</div>
<div class="row question">
	<h3>Not sure where to start? Our Step Ahead Guide can get you thinking. And doing. <a href="#">Step Ahead</a> </h3>
</div>
<div class="row arrow-down">
	<div class="bxslider">
		<%= render({partial: "slider", locals: {categories: @slider_categories} }) %>
	</div>
</div>

<div class="row">
	<div class="fixed-footer col-sm-12" style="position:fixed;">
		<div class="pull-right">
			<a href="#">Contact us at 0800-425-000</a>
		</div>
	</div>
</div>

<div class="services row">
	<div class="col-sm-12">
		<div class="row plans">
			<div class="col-sm-4">
				<h3>
					<a href="#" class="blue-link services-title">Personal</a>
				</h3>
				<a href="#" class="blue-link">Life</a>
				<br>
				<a href="#" class="blue-link">Trauma</a>
				<br>
				<a href="#" class="blue-link">Medical</a>
				<br>
				<a href="#" class="blue-link">Income</a>
				<br>
			</div>
			<div class="col-sm-4">
				<h3>
					<a href="#" class="blue-link services-title">Business</a>
				</h3>
				<a href="#" class="blue-link">Commercial</a>
				<br>
				<a href="#" class="blue-link">Home and Content</a>
				<br>
				<a href="#" class="blue-link">Property</a>
				<br>
				<a href="#" class="blue-link">Rural</a>
				<br>
			</div>
			<div class="col-sm-4">
				<h3>
					<a href="#" class="blue-link services-title">Quote</a>
				</h3>
				<a href="#" class="blue-link">Personal</a>
				<br>
				<a href="#" class="blue-link">Business</a>
				<br>
				<a href="#" class="blue-link">Home and Content</a>
				<br>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="services-line-break"></div>
			</div>
		</div>
		<!-- <div class="row about-us">
			<div class="col-sm-3">
				<h3>
					<a href="#" class="blue-link services-title">About Ibrokers</a>
				</h3>
				<a href="#" class="blue-link">Newsroom</a>
				<br>
				<a href="#" class="blue-link">Careers</a>
			</div>
			<div class="col-sm-3">
				<h3>
					<a href="#" class="blue-link services-title">About Ibrokers</a>
				</h3>
				<a href="#" class="blue-link">Newsroom</a>
				<br>
				<a href="#" class="blue-link">Careers</a>
			</div>
			<div class="col-sm-3">
				<h3>
					<a href="#" class="blue-link services-title">About Ibrokers</a>
				</h3>
				<a href="#" class="blue-link">Newsroom</a>
				<br>
				<a href="#" class="blue-link">Careers</a>
			</div>
			<div class="col-sm-3">
				<h3>
					<a href="#" class="blue-link services-title">About Ibrokers</a>
				</h3>
				<a href="#" class="blue-link">Newsroom</a>
				<br>
				<a href="#" class="blue-link">Careers</a>
			</div>
		</div> -->
	</div>
</div>