<div id="banner" class="banner-default">
	<h1>Insurance Partner</h1>
</div>
<div class="banner-header">
	<div class="row imageshow">
		<div>
			<img class="insurance-partner-img" src="/assets/Colour-Logo-with-Slogan2.jpg" alt="logo">
		</div>
	</di>
</div>
