<div class="row">
	<div class="col-sm-12">
		<h3 class="about-heading">Personal Insurance</h3>
		<div>
			<p>
				Personal insurance constitutes a fundamental "building block" within any financial planning strategy because it protects your family against the risk of premature death or ill health, and the sometimes catastrophic financial consequences. Arguably, you should have plans in place both to protect your life (and that of your spouse) , major health event  , medical expenditure and  your income.
			</p>
			<p></p>
			<ul>
				<li><b>Life & Health Insurance</b></li>
				<li><b>Permanent Disability</b></li>
				<li><b>Medical Insurance</b></li>
				<li><b>Income Protection Insurance</b></li>
			</ul>
		</div>
	</div>

	<div id="life_health_ins_row">
		<div class="col-sm-12">
			<h4 class="about-heading">Life & Health Insurance</h4>
			<div>
				<p>
					Life insurance provides a lump sum payment upon your death for those you leave behind to use as they see fit. They may be able to pay off the mortgage or deal with other financial commitments, enabling them to survive financially.
				</p>

				<p>
					Life insurance offers the family the ability to manage the situation when circumstances have dealt them a blow.
				</p>

				<p>
					This essential form of protection can be used for a variety of purposes:
				</p>
				<ul>
					<li>Pay off the mortgage</li>
					<li>Pay off personal debt such as loans or credit cards</li>
					<li>Offer security for business obligations</li>
					<li>Provide an investment for the future</li>
				</ul>
			</div>
		</div>
	</div>


	<div id="personal_disability_ins_row">
		<div class="col-sm-12">
			<h4 class="about-heading">Permanent Disability</h4>
			<div>
				<p>
					Imagine suffering an illness or accident that would put a stop to your career. How would you cope financially?
				</p>

				<p>
					Total and permanent disability insurance can help you to preserve your lifestyle, secure your family’s future and pay off any long-term debt. Those with total and permanent disability cover receive a cash lump sum if they were to become totally and permanently incapacitated and therefore unable to work.
				</p>
			</div>
		</div>
	</div>


	<div id="medical_ins_row">
		<div class="col-sm-12">
			<h4 class="about-heading">Medical Insurance</h4>
			<div>
				<p>
					You don’t want to be a number on a public waiting list.
				</p>

				<p>
					Medical insurance gives you faster, more immediate availability to private hospital treatment and specialist care.  Giving you peace of mind that you have access to the best health care availble for you and your family
				</p>
				
				<p>
					This essential form of protection can be used for a variety of purposes:
				</p>
				<ul>
					<li>Protect your health and the health of your loved ones</li>
					<li>Freedom to select the best specialist and hospital in New Zealand</li>
					<li>Avoid long waiting lists to receive treatment</li>
					<li>Access to the latest medical procedures and technology</li>
					<li>No need to worry about large medical bills</li>
					<li>No guarantee ACC will provide full accident cover</li>
				</ul>
			</div>
		</div>
	</div>


	<div id="trauma_cover_ins_row">
		<div class="col-sm-12">
			<h4 class="about-heading">Trauma Cover</h4>
			<div>
				<p>
					Trauma cover provides a lump sum payment if you suffer a critical illness like cancer, stroke or heart attack. People often use it to reduce debt, provide for their family, or increase their quality of life during recovery.
				</p>

				<p>
					Trauma cover pays for the cost of stresses and financial upheaval that such illnesses can create.
				</p>
			</div>
		</div>
	</div>


	<div id="income_protection_ins_row">
		<div class="col-sm-12">
			<h4 class="about-heading">Income Protection Insurance</h4>
			<div>
				<p>
					If you cannot earn an income, your lifestyle will suffer and you will be forced to make changes. You will probably find it more difficult to meet your living costs when you are disabled than when you could work. It is most likely that you will go back to work and be reasonably fit again. But there could come a time when you don’t recover.
				</p>

				<p>
					You can insure your income to cover such situations – think about what will happen to your life and your career while you are off work.
				</p>
			</div>
		</div>
	</div>

</div>