/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bxslider
 *= require bootstrap-slider
 *= require_tree .
 */

 /* Sticky footer styles
 -------------------------------------------------- */
 html,
 body {
 	height: 100%;
 	/* The html and body elements cannot have any padding or margin. */
 }

 /* Wrapper for page content to push down footer */
 #wrap {
 	min-height: 100%;
 	height: auto;
 	/* Negative indent footer by its height */
 	margin: 0 auto -60px;
 	/* Pad bottom by footer height */
 	padding: 0 0 60px;
 }

 /* Set the fixed height of the footer here */
 .footer {
 	height: 60px;
 	line-height: 60px;
 }

/* Sticky footer styles end
--------------------------------------------------  */
body{
	font-family: franklin-gothic-urw-n4, franklin-gothic-urw, arial, sans-serif;
}

.header-height{
	margin-top: 85px;
}

.subheader-borders{
	border-top: 1px solid #ECECEC;
	border-bottom: 3px solid #0060d6;
	padding-left: 10px;
	padding-right: 10px;
}

.subheader-borders>ul.nav>li>a{
	text-align: center;
	font-size: 1em;
	color: #616367;
	text-transform: uppercase;
	font-family: "franklin-gothic-urw", sans-serif;
	border-bottom: 3px solid transparent;
}
.subheader-borders>ul.nav>li>a:hover, .subheader-borders>ul.nav>li>a:focus, .subheader-borders>ul.nav>li:hover>a{
	color:#123084;
	background-color: #fff;
	border-bottom: 3px solid #0060d6;
}

.subheader-borders>ul.nav>li:hover>ul.dropdown-menu{
	display: block;
}

.header-links{
	padding-top: 5px;
	margin-right: 10px;
	list-style-type: none; 
	float:left;
	line-height: 32px;
}

.header-links>li{
	float: left;
	border-right: 1px solid #ECECEC;
	padding: 0 5px;
}
.header-links>li:last-child{
	border-right: none;
}

.search-input{
	border: 1px solid transparent;
	outline: 0;
}

.search-button{
	background: none;
	border:0px;
	font-size: 1.33em;
	vertical-align: middle;
}

#search-form{
	margin-right: 0px;
	border-left: 1px solid #ECECEC;
}	

.imageshow{
	height: 441px;
}

.imageshow-background{
	background-size: 100% 100%;
	height: 100%;
	background-repeat: no-repeat;
	position: relative;
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.advice-background{
	background-image: url('crousel1.JPG');
}

.retirement-background{
	background-image: url('crousel2.JPG');
}

.life-background{
	background-image: url('crousel1.JPG');
}

.imageshow-content{
	position: absolute;
	top: 33%;
	text-align: center;
	width:100%;
	color: #fff;
	z-index: 2;
}

.imageshow-content h2{
	font-family: "franklin-gothic-urw",sans-serif;
}

.imageshow-content hr{
	width: 68px;
	background-color: #fff;
	margin: 22px auto;
}

.imageshow-background a.learn-more{
	margin-top: 10px;
	display: none;
}

.imageshow-background:hover a.learn-more{
	display: inline-block;
}


.imageshow-background .blur-background{
	position:absolute;
	width:100%;
	height:100%;
	z-index: 1;
	transition: all 1s;
}

.imageshow-background:hover .blur-background{
	background-color:#0060d6;
	opacity: 0.7;
}

.question{
	background-color: #F2F2F2;
	height: 110px;
	font-size: 16px;
	text-align: center;
}

.question h3{
	font-family: "franklin-gothic-urw-n4","franklin-gothic-urw", sans-serif;
	font-style: normal;
	font-size: 1.25em;
	line-height: 2.55em;
}

.arrow-down{
	background-image: url('down-arrow.png');
	background-repeat: no-repeat;
	background-position: top center;
	margin-top: 0px;
	padding-top: 10px;
}

.slide hr{
	border: 0 none;
	background-color: #f2f2f2;
	height: 1px;
	width: 15%;
	margin-left: 0px;
}

.slide{
	padding: 0 15px;
}

.slide h3{
	text-transform: uppercase;
	font-size: 1em;
}

.arrow-down .bx-wrapper .bx-viewport{
	box-shadow: none;
	border: none;
	background: none;
}

.fixed-footer{
	background-color: #012F87;
	color: #fff;
	max-height: 64px;
	-webkit-box-shadow: 0 0 7px #ccc;
	box-shadow: 0 0 7px #ccc;
	-moz-box-shadow: 0 0 7px #ccc;
	z-index: 10000;
	font-size: 1em;
	width:100%;
	bottom:0px;
}

.fixed-footer a{
	color: #fff;
	line-height: 4.4em;
}

.fixed-footer a:hover{
	color: #fff;
}

.services{
	border-top: 1px solid #ECECEC;
	line-height: 32.5px;
	font-size: 15px;
}

.services-title{
	text-transform: uppercase;
	font-size: 15px;
	font-weight: bold;
}

.plans{
	margin-bottom: 30px;
}

a.blue-link{
	color: #004197;
}

a.blue-link:hover{
	color: #0060D6;
	text-decoration: none;
}

.services-line-break{
	background-color: #0060d6;
	height:3px;
}

.about-us{
	margin-bottom: 30px;
}

.footer{
	background-color: #ebebeb;
	font-size: 12px;
}

.footer-links-list{
	list-style-type: none; 
}

.footer-links-list>li{
	float: left;
	border-right: 1px solid #ECECEC;
	padding: 0 5px;
}

a.footer-link{
	font-size: 12px;
}

.search-icon{
	color: rgb(199, 193, 193);
}

.icon{
	font-size: 16px;
}

.nav-subheading{
	text-transform: uppercase;
}

.buy-online-tabs{
	border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	border-radius: 0px 0px 4px 4px;
	box-shadow: 4px 0px 2px #dddddd, -4px 0px 2px #dddddd;
	margin-bottom: 10px;
}

.buy-online-tab-header{
	text-transform: uppercase;
}

.buy-online-tabs>.tab-pane{
	padding-left: 10px;
}

.buy-online-sidebar{
	padding-top: 20px;
}

.buy-online-sidebar .btn-full{
	margin-bottom: 10px;
}

.btn-full{
	width: 100%;
}

.buy-online-sidebar .glyphicon, .buy-online-sidebar .icon{
	padding-right: 5px;
}

.insurance-calculator{
	font-size: 10px;
}

input.fixed-width-input{
	width: 200px;
}

.sidebar{
	padding: 20px;
	box-shadow: inset 10px 3px 7px 0px rgba(50, 50, 50, 0.75);
	height: 100%;
	position: absolute;
	z-index: 1051;
	right: 0px;
	background-color: #fff;
	overflow-y: auto;
	display: none;
}

.sidebar-modal{
	display: none;
	overflow: auto;
	overflow-y: scroll;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
	background-color: rgb(51, 51, 51);
	opacity: 0.3;
	-webkit-overflow-scrolling: touch;
	outline: 0;
}

.banner-default{
		background: rgb(32,124,202); /* Old browsers */
		background: -moz-linear-gradient(top, rgba(32,124,202,1) 0%, rgba(30,87,153,1) 69%, rgba(30,87,153,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(32,124,202,1)), color-stop(69%,rgba(30,87,153,1)), color-stop(100%,rgba(30,87,153,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(32,124,202,1) 0%,rgba(30,87,153,1) 69%,rgba(30,87,153,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(32,124,202,1) 0%,rgba(30,87,153,1) 69%,rgba(30,87,153,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(32,124,202,1) 0%,rgba(30,87,153,1) 69%,rgba(30,87,153,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom, rgba(32,124,202,1) 0%,rgba(30,87,153,1) 69%,rgba(30,87,153,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207cca', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */
		height:120px;
		text-align:center;
		text-shadow: 1px 1px 6px #333;
		color:#FFF;
		padding-top:10px;
		margin-left: -15px;
		margin-right: -15px;
}

.banner-header{
		 background-color:#FFFFFF;
		 margin-left:auto;
		 margin-right:auto;
		 width: 70%;
		 margin-top:-25px;
		 padding-top: 20px;
		 padding-left: 10px;
		 padding-right: 10px;
}

.align-right{
	text-align: right;
}

.align-left{
	text-align: left;
}

.align-center{
	text-align: center;
}

.insurance-partner-img{
	padding-left:170px;
	border: 0 none;
	height:100%;
}

.circletag-img{
border-radius: 150px;
-moz-border-radius:150px; 
-webkit-border-radius:150px;
}