<!DOCTYPE html>
<html>
<head>
	<title>Ibrokers</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="container-fluid">
		<div class="header row-fluid">
			<div class="span7">

			</div>
			<div class="span5">
				<ul class="header-links">
					<li><a href="#">Customer service</a></li>
					<li><a href="#">File a claim</a></li>
					<li><a href="#">Contact us</a></li>
					<li><a href="#">f</a></li>
					<li><a href="#">t</a></li>
				</ul>
				<div class="btn-group">
					<button class="btn">Left</button>
					<button class="btn">Right</button>
				</div>
			</div>
		</div>
	</div>
	<%= yield %>

</body>
</html>
